/**
 * @link http://codepen.io/anon/pen/Ffzap/
 */

.transition
	@include transition( all 0.25s cubic-bezier(.53,.01,.35,1.5))

.materials
	position: relative
	display: inline-block
	max-width: 700px
	min-width: 500px
	box-sizing: border-box
	padding: 30px 25px
	// background-color: $body-bg
	border-radius: 40px
	margin: 40px 0
	left: 50%
	@include translateX( -50% )
		
	h1
		color: $brand-primary
		font-weight: 100
		letter-spacing: 0.01em
		margin-left: 15px
		margin-bottom: 35px
		text-transform: uppercase
		
	.row
		position: relative
		padding: 1em 0
		
		&:first-of-type
			padding-top: 0
			
		&:last-of-type
			padding-bottom: 0
			
		label
			@extend .transition
			transform-origin: left center
			color: $brand-primary
			font-weight: 100
			letter-spacing: 0.01em
			font-size: 17px
			box-sizing: border-box
			padding: 10px 15px
			display: block
			position: absolute
			margin-top: -40px
			z-index: 2
			pointer-events: none
			width: 100%

			span
				float: right
			
		input[type="number"]
			@extend .transition
			appearance: none
			background-color: none
			border: 1px solid $brand-primary
			line-height: 0
			font-size: 17px
			width: 100%
			display: block
			box-sizing: border-box
			padding: 10px 15px
			font-weight: 100
			letter-spacing: 0.01em
			position: relative
			z-index: 1
			color: transparent
			
			&:focus
				outline: none
				background: $brand-primary
				color: $body-bg !important
				margin-top: 30px
				
			&:valid
				margin-top: 30px
				color: $brand-primary
					
			&:focus ~ label
				@include translate( 0 , -35px )
			
			&:valid ~ label
				text-transform: uppercase
				font-style: italic
				font-size: .6em
				padding-left: 15px
				padding-right: 15px
				@include translateY(-35px)