#################
# Raw Resources #
#################
Wood: 		1
Iron: 		1
Berries: 	1
Stone:		1
Clay:		1
Dirt:		1
Hay:		1
Water:		1
Flax:		1
Oil:		1

Lumber:
	Wood: .2

Iron Ingot:
	Iron: 10
	
##########
# Blocks #
##########
Reinforced Wood Block:
	Lumber: 100
	Iron Ingot: 1
